.btn_group input {
    padding: 10px 0px;
    margin: 10px 0px;
    width: 100%;
    display: block;
}
.btn {
     background-color: white;
     border: none;
     box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
}
.horizontal_btn_group {
     display: flex;
}
.horizontal_btn_group input {
    padding: 10px 0px;
    width: 49%;
}
textarea {
    width: 98%;
    height: 150px;
    border-color: #e3e3e1;
}
